# Initial working notebook

## Project Planning

#### Define your target.
- The target is the Edwards Aquifer water level. Using Time Series Analysis I will attempt to predict future water levels.

#### Outline your goals and define deliverables.
- Goals: 
    - Create a time series model which will accurately predict water levels for the Edwards Aquifer.
    - Better understand historic water usage for Bexar county and what factors may affect rises or falls in the Edwards Aquifer water level.
    - Explore relationships between historic water level, water usage, population, precipitation, and temperature data for Bexar county.
- Deliverables:
    - Necessary helper files to store code for final notebook, eg. wrangle.py, explore.py, model.py
    - Github Repo w/ Final Notebook
        - Includes working through the entire DS pipeline, code comments, executive summary of project, 
    - README on github repo project page
        - Project pipeline/planning, audience, executive summary, data dictionary, how to reproduce, etc.
    - Project summary and writeup for my resume or other professional portfolio pieces
    

#### Document initial thoughts and hypotheses.
- Due to increased demand I suspect that water usage will increase with time; this will have a negative impact on the Edwards Aquifer water level and result in a decreased supply over time.
- Temperature and precipitation levels will be correlateed with the water level as well.
    - Climate change will affect this here; as there is more heat more water will be used.
    - I'm unsure exactly how precipitation levels will change over time.

#### Create a Trello board where you document what those deliverables are and the steps you will take to get there.
Done!

## Acquire

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from re import sub

plt.rcParams["figure.figsize"] = (16, 10)

Pulling all files into dataframes and examining for nulls.

In [2]:
aquifer = pd.read_csv('data_files/aquifer_j17_well_data.csv', parse_dates=[1])
aquifer.head()

    Site DailyHighDate  WaterLevelElevation
0  J17WL    2022-06-12               637.95
1  J17WL    2022-06-11               636.93
2  J17WL    2022-06-10               637.17
3  J17WL    2022-06-09               638.13
4  J17WL    2022-06-08               639.48

In [3]:
aquifer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31919 entries, 0 to 31918
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Site                 31919 non-null  object
 1   DailyHighDate        31919 non-null  datetime64[ns]
 2   WaterLevelElevation  31919 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 748.2+ KB

In [4]:
aquifer.WaterLevelElevation.value_counts().sort_index()

612.51    1
612.74    1
613.00    1
613.02    1
613.20    1
         ..
702.91    1
702.95    1
703.18    1
703.19    1
703.31    1
Name: WaterLevelElevation, Length: 6942, dtype: int64

No nulls seem to be present in main aquifer DF.

In [5]:
temps = pd.read_csv('data_files/monthly_avg_temp_bexar_county.csv', parse_dates=[8])
temps.head()

,AGENCY 0,DATA 0,DATA TYPE 0,LOCATION 0,LOCATION TYPE 0,SOURCE 0,SOURCE TYPE 0,SUBJECT 0,TIME 0,TIME TYPE 0
0,National Centers for Environmental Information,50.1,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Temperature MA Split By FIPS,1974-01-01,ISO_DATE
1,National Centers for Environmental Information,57.4,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Temperature MA Split By FIPS,2019-02-01,ISO_DATE
2,National Centers for Environmental Information,59.0,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Temperature MA Split By FIPS,1903-11-01,ISO_DATE
3,National Centers for Environmental Information,55.4,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Temperature MA Split By FIPS,1974-02-01,ISO_DATE
4,National Centers for Environmental Information,67.1,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Temperature MA Split By FIPS,1974-03-01,ISO_DATE

In [6]:
temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1529 entries, 0 to 1528
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AGENCY 0         1529 non-null   object
 1   DATA 0           1529 non-null   float64
 2   DATA TYPE 0      1529 non-null   object
 3   LOCATION 0       1529 non-null   object
 4   LOCATION TYPE 0  1529 non-null   object
 5   SOURCE 0         1529 non-null   object
 6   SOURCE TYPE 0    1529 non-null   object
 7   SUBJECT 0        1529 non-null   object
 8   TIME 0           1529 non-null   datetime64[ns]
 9   TIME TYPE 0      1529 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 119.6+ KB

No apparent nulls will have to examine later

In [7]:
precip = pd.read_csv('data_files/monthly_total_precipitation_bexar_county.csv', parse_dates=[8])
precip.head()

,AGENCY 0,DATA 0,DATA TYPE 0,LOCATION 0,LOCATION TYPE 0,SOURCE 0,SOURCE TYPE 0,SUBJECT 0,TIME 0,TIME TYPE 0
0,National Centers for Environmental Information,4.55,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Precipitation MA Split By FIPS,1991-01-01,ISO_DATE
1,National Centers for Environmental Information,6.57,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Precipitation MA Split By FIPS,2019-06-01,ISO_DATE
2,National Centers for Environmental Information,1.67,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Precipitation MA Split By FIPS,2019-01-01,ISO_DATE
3,National Centers for Environmental Information,2.21,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Precipitation MA Split By FIPS,1899-05-01,ISO_DATE
4,National Centers for Environmental Information,0.94,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Precipitation MA Split By FIPS,1956-01-01,ISO_DATE

In [8]:
precip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1529 entries, 0 to 1528
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AGENCY 0         1529 non-null   object
 1   DATA 0           1529 non-null   float64
 2   DATA TYPE 0      1529 non-null   object
 3   LOCATION 0       1529 non-null   object
 4   LOCATION TYPE 0  1529 non-null   object
 5   SOURCE 0         1529 non-null   object
 6   SOURCE TYPE 0    1529 non-null   object
 7   SUBJECT 0        1529 non-null   object
 8   TIME 0           1529 non-null   datetime64[ns]
 9   TIME TYPE 0      1529 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 119.6+ KB

No apparent nulls.

In [9]:
pop = pd.read_csv('data_files/population_by_year_bexar_county.csv', parse_dates=[0])
pop.head()

        Year  Population  Growth  GrowthRate
0 2022-01-01     2070660   22370      0.0109
1 2021-01-01     2048290   22370      0.0110
2 2020-01-01     2025920   22370      0.0112
3 2019-01-01     2003550   22360      0.0113
4 2018-01-01     1981190   24200      0.0124

In [10]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        28 non-null     datetime64[ns]
 1   Population  28 non-null     int64
 2   Growth      28 non-null     int64
 3   GrowthRate  28 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.0 KB

No apparent nulls.

In [11]:
#Made a new csv in excel with combined data for 1984-2019
usage = pd.read_csv('data_files/water_use_bexar_county_1984_2019.csv', parse_dates=[0])
usage.head()

,Year,County,Population,Municipal,Manu-facturing,Mining,Power,Irrigation,Livestock,Municipal Ground Water,...,Mining Reuse & Brackish,Power Ground Water,Power Surface Water,Power Reuse,Irrigation Ground Water,Irrigation Surface Water,Irrigation Reuse,Livestock Ground Water,Livestock Surface Water,Livestock Reuse
0,1984-01-01,BEXAR,NaN,"252,584","11,445",259,"33,106","40,347",1635,"252,273",...,NaN,"1,300","31,806",NaN,"23,489","16,858",NaN,162,1473,NaN
1,1985-01-01,BEXAR,NaN,"231,034","12,516",2763,"27,438","29,411",1390,"230,794",...,NaN,"1,974","25,464",NaN,"16,967","12,444",NaN,138,1252,NaN
2,1986-01-01,BEXAR,NaN,"235,506","14,000",0,"23,840","31,710",1466,"235,293",...,NaN,"1,859","21,981",NaN,"16,610","15,100",NaN,146,1320,NaN
3,1987-01-01,BEXAR,NaN,"229,866","10,661",1613,"26,735","23,368",1226,"229,575",...,NaN,"2,013","24,722",NaN,"12,949","10,419",NaN,122,1104,NaN
4,1988-01-01,BEXAR,NaN,"250,563","13,675",1729,"34,277","24,130",1283,"250,269",...,NaN,"1,400","32,877",NaN,"15,595","8,535",NaN,128,1155,NaN

In [12]:
usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      36 non-null     datetime64[ns]
 1   County                    36 non-null     object
 2   Population                20 non-null     object
 3   Municipal                 36 non-null     object
 4   Manu-facturing            36 non-null     object
 5   Mining                    36 non-null     object
 6   Power                     36 non-null     object
 7   Irrigation                36 non-null     object
 8   Livestock                 36 non-null     object
 9   Municipal Ground Water    36 non-null     object
 10  Municipal Surface Water   36 non-null     object
 11  Municipal Reuse           5 non-null      object
 12  Mfg Ground Water          36 non-null     object
 13  Mfg Surface Water         36 non-null     object
 14  Mfg Reuse                 5 non-null      float64
 15  Mining Ground Water       36 non-null     object
 16  Mining Surface Water      36 non-null     object
 17  Mining Reuse & Brackish   5 non-null      float64
 18  Power Ground Water        36 non-null     object
 19  Power Surface Water       36 non-null     object
 20  Power Reuse               5 non-null      object
 21  Irrigation Ground Water   36 non-null     object
 22  Irrigation Surface Water  36 non-null     object
 23  Irrigation Reuse          5 non-null      object
 24  Livestock Ground Water    36 non-null     int64
 25  Livestock Surface Water   36 non-null     object
 26  Livestock Reuse           5 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(22)
memory usage: 7.7+ KB

In the main part of the usage df there are no nulls except for population which I can fill in later. However all resuse columns have 31 nulls as it seems that reuse wasn't tracked until 2015.

### Cleanup of dataframes before initial exploration.
Each dataframe needs the following: 
- superfluous columns dropped
- date set as index
- columns renamed to snake_case

In [13]:
# Making a snake case fixer
def snake_case(s):
  return '_'.join(
    sub('([A-Z][a-z]+)', r' \1',
    sub('([A-Z]+)', r' \1',
    s.replace('-', ''))).split()).lower()

# Making a df column renamer using the snake_case function above.
def column_renamer(df):
    new_names = {}
    for col in df.columns.to_list():
        new_names[col] = snake_case(col)
    renamed = df.rename(columns = new_names)
    return renamed

Starting with aquifer dataset.

In [14]:
aquifer.head()

    Site DailyHighDate  WaterLevelElevation
0  J17WL    2022-06-12               637.95
1  J17WL    2022-06-11               636.93
2  J17WL    2022-06-10               637.17
3  J17WL    2022-06-09               638.13
4  J17WL    2022-06-08               639.48

In [15]:
aquifer = aquifer.drop('Site', axis=1)

In [16]:
aquifer = aquifer.rename(columns = {'DailyHighDate': 'date'}).set_index('date')
aquifer.head()

            WaterLevelElevation
date
2022-06-12               637.95
2022-06-11               636.93
2022-06-10               637.17
2022-06-09               638.13
2022-06-08               639.48

In [37]:
aquifer = column_renamer(aquifer)
aquifer

            water_level_elevation
date
1932-11-12                 675.60
1932-11-13                 675.82
1932-11-14                 675.97
1932-11-15                 675.92
1932-11-16                 675.74
...                           ...
2022-06-08                 639.48
2022-06-09                 638.13
2022-06-10                 637.17
2022-06-11                 636.93
2022-06-12                 637.95

[31919 rows x 1 columns]

In [18]:
aquifer = aquifer.sort_index()

Aquifer dataset is cleaned and ready for explore and modeling.

Moving to temps dataset.

In [19]:
temps = temps.rename(columns = {'DATA 0': 'avg_monthly_temp', 'TIME 0': 'date'})

In [20]:
temps.head(1)

,AGENCY 0,avg_monthly_temp,DATA TYPE 0,LOCATION 0,LOCATION TYPE 0,SOURCE 0,SOURCE TYPE 0,SUBJECT 0,date,TIME TYPE 0
0,National Centers for Environmental Information,50.1,STRING,Bexar,COUNTY,https://www.ncei.noaa.gov/pub/data/cirs/climdiv/,URL,Temperature MA Split By FIPS,1974-01-01,ISO_DATE

In [21]:
temps = temps[['avg_monthly_temp', 'date']]
temps.head()

   avg_monthly_temp       date
0              50.1 1974-01-01
1              57.4 2019-02-01
2              59.0 1903-11-01
3              55.4 1974-02-01
4              67.1 1974-03-01

In [22]:
temps = temps.set_index('date').sort_index()
temps.head()

            avg_monthly_temp
date
1895-01-01              51.6
1895-02-01              43.6
1895-03-01              60.2
1895-04-01              67.7
1895-05-01              71.8

The temps dataframe looks good now.

Moving on to precip dataframe.

In [25]:
precip = precip.rename(columns = {'DATA 0': 'total_monthly_precip', 'TIME 0': 'date'})
precip = precip[['total_monthly_precip', 'date']]
precip.set_index('date').sort_index()

            total_monthly_precip
date
1895-01-01                  1.28
1895-02-01                  3.34
1895-03-01                  0.52
1895-04-01                  2.68
1895-05-01                  6.93
...                          ...
2022-01-01                  0.40
2022-02-01                  1.28
2022-03-01                  0.50
2022-04-01                  0.85
2022-05-01                  1.39

[1529 rows x 1 columns]

The precip dataframe looks good now.

Moving on to pop dataframe.

In [28]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        28 non-null     datetime64[ns]
 1   Population  28 non-null     int64
 2   Growth      28 non-null     int64
 3   GrowthRate  28 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.0 KB

In [30]:
pop = column_renamer(pop)
pop = pop.rename(columns = {'year':'date'})
pop = pop[['date', 'population']]
pop = pop.set_index('date').sort_index()

In [36]:
pop

            population
date
1850-01-01        6052
1860-01-01       14454
1870-01-01       16043
1880-01-01       30470
1890-01-01       49266
1900-01-01       69422
1910-01-01      119676
1920-01-01      202096
1930-01-01      292533
1940-01-01      338176
1950-01-01      500460
1960-01-01      687151
1970-01-01      830460
1980-01-01      988800
1990-01-01     1185390
2010-01-01     1722840
2011-01-01     1755360
2012-01-01     1788740
2013-01-01     1821330
2014-01-01     1858000
2015-01-01     1894830
2016-01-01     1927650
2017-01-01     1956990
2018-01-01     1981190
2019-01-01     2003550
2020-01-01     2025920
2021-01-01     2048290
2022-01-01     2070660

The pop dataframe looks good now.

Moving on to usage.

In [24]:
usage = column_renamer(usage)
usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      36 non-null     datetime64[ns]
 1   county                    36 non-null     object
 2   population                20 non-null     object
 3   municipal                 36 non-null     object
 4   manufacturing             36 non-null     object
 5   mining                    36 non-null     object
 6   power                     36 non-null     object
 7   irrigation                36 non-null     object
 8   livestock                 36 non-null     object
 9   municipal_ground_water    36 non-null     object
 10  municipal_surface_water   36 non-null     object
 11  municipal_reuse           5 non-null      object
 12  mfg_ground_water          36 non-null     object
 13  mfg_surface_water         36 non-null     object
 14  mfg_reuse                 5 non-null      float64
 15  mining_ground_water       36 non-null     object
 16  mining_surface_water      36 non-null     object
 17  mining_reuse_&_brackish   5 non-null      float64
 18  power_ground_water        36 non-null     object
 19  power_surface_water       36 non-null     object
 20  power_reuse               5 non-null      object
 21  irrigation_ground_water   36 non-null     object
 22  irrigation_surface_water  36 non-null     object
 23  irrigation_reuse          5 non-null      object
 24  livestock_ground_water    36 non-null     int64
 25  livestock_surface_water   36 non-null     object
 26  livestock_reuse           5 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(22)
memory usage: 7.7+ KB

In [34]:
usage = usage.rename(columns = {'year':'date'})
usage = usage.set_index('date').sort_index()

In [35]:
usage

,county,population,municipal,manufacturing,mining,power,irrigation,livestock,municipal_ground_water,municipal_surface_water,...,mining_reuse_&_brackish,power_ground_water,power_surface_water,power_reuse,irrigation_ground_water,irrigation_surface_water,irrigation_reuse,livestock_ground_water,livestock_surface_water,livestock_reuse
date,,,,,,,,,,,,,,,,,,,,,
1984-01-01,BEXAR,NaN,"252,584","11,445",259,"33,106","40,347",1635,"252,273",311,...,NaN,"1,300","31,806",NaN,"23,489","16,858",NaN,162,1473,NaN
1985-01-01,BEXAR,NaN,"231,034","12,516",2763,"27,438","29,411",1390,"230,794",240,...,NaN,"1,974","25,464",NaN,"16,967","12,444",NaN,138,1252,NaN
1986-01-01,BEXAR,NaN,"235,506","14,000",0,"23,840","31,710",1466,"235,293",213,...,NaN,"1,859","21,981",NaN,"16,610","15,100",NaN,146,1320,NaN
1987-01-01,BEXAR,NaN,"229,866","10,661",1613,"26,735","23,368",1226,"229,575",291,...,NaN,"2,013","24,722",NaN,"12,949","10,419",NaN,122,1104,NaN
1988-01-01,BEXAR,NaN,"250,563","13,675",1729,"34,277","24,130",1283,"250,269",294,...,NaN,"1,400","32,877",NaN,"15,595","8,535",NaN,128,1155,NaN
1989-01-01,BEXAR,NaN,"249,623","12,911",1591,"32,166","37,392",1266,"249,330",293,...,NaN,"1,410","30,756",NaN,"23,851","13,541",NaN,126,1140,NaN
1990-01-01,BEXAR,NaN,"225,626","14,049",1591,"24,263","37,012",1376,"225,331",295,...,NaN,"1,408","22,855",NaN,"27,399","9,613",NaN,137,1239,NaN
1991-01-01,BEXAR,NaN,"211,173","14,844",3688,"21,696","30,412",1389,"211,173",0,...,NaN,"1,149","20,547",NaN,"18,715","11,697",NaN,139,1250,NaN
1992-01-01,BEXAR,NaN,"212,575","15,584",3900,"20,152","27,072",1487,"212,567",8,...,NaN,"1,168","18,984",NaN,"17,777","9,295",NaN,149,1338,NaN
1993-01-01,BEXAR,NaN,"211,937","18,288",6201,"26,068","49,680",1587,"211,928",9,...,NaN,"1,332","24,736",NaN,"33,655","16,025",NaN,159,1428,NaN
1994-01-01,BEXAR,NaN,"223,237","17,991",6199,"18,610","44,981",1105,"223,224",13,...,NaN,746,"17,864",NaN,"31,929","13,052",NaN,111,994,NaN
1995-01-01,BEXAR,NaN,"229,962","16,778",6597,"27,199","38,952",1031,"229,797",165,...,NaN,716,"26,483",NaN,"26,386","12,566",NaN,103,928,NaN
1996-01-01,BEXAR,NaN,"232,916","20,627",6597,"25,714","41,472",1822,"232,729",187,...,NaN,875,"24,839",NaN,"28,094","13,378",NaN,182,1640,NaN
1997-01-01,BEXAR,NaN,"227,204","15,762",4935,"17,402","37,754",1807,"226,910",294,...,NaN,"1,226","16,176",NaN,"25,575","12,179",NaN,181,1626,NaN
1998-01-01,BEXAR,NaN,"229,082","19,202",2607,"19,134","49,761",1151,"228,804",278,...,NaN,"1,982","17,152",NaN,"33,708","16,053",NaN,115,1036,NaN
1999-01-01,BEXAR,NaN,"245,100","18,132",2607,"24,857","34,988",1221,"244,915",185,...,NaN,"1,736","23,121",NaN,"23,701","11,287",NaN,122,1099,NaN
2000-01-01,BEXAR,"1,392,931","240,247","13,110","9,330","26,371","15,865","1,191","236,307","3,940",...,NaN,"2,314","24,057",NaN,"9,548","6,317",NaN,119,"1,072",NaN
2001-01-01,BEXAR,"1,415,441","240,286","11,567","10,458","20,869","18,354","1,218","230,394","9,892",...,NaN,"1,307","19,562",NaN,"10,544","7,810",NaN,118,"1,100",NaN
2002-01-01,BEXAR,"1,442,244","222,730","11,274","11,402","16,113","25,874","1,224","213,298","9,431",...,NaN,"1,043","15,070",NaN,"15,524","10,350",NaN,119,"1,105",NaN
2003-01-01,BEXAR,"1,463,537","231,103","10,452","10,994","19,008","12,034","1,035","220,640","10,463",...,NaN,956,"18,051",NaN,"7,100","4,934",NaN,100,935,NaN
2004-01-01,BEXAR,"1,487,088","221,389","11,423","12,579","23,750","9,777","1,027","210,822","10,566",...,NaN,"1,021","22,730",NaN,"8,895",882,NaN,99,928,NaN
2005-01-01,BEXAR,"1,510,556","260,175","10,607","11,681","34,810","10,081","1,386","247,971","12,205",...,NaN,"1,243","33,566",NaN,"9,081","1,000",NaN,416,970,NaN
2006-01-01,BEXAR,"1,550,160","271,887","7,510","11,133","42,678","10,725","1,353","257,265","14,622",...,NaN,"1,113","41,564",NaN,"9,725","1,000",NaN,406,947,NaN
2007-01-01,BEXAR,"1,579,414","232,885","7,367","10,462","12,987","5,910","1,154","218,747","14,138",...,NaN,"1,271","11,716",NaN,"3,699","2,211",NaN,346,808,NaN
2008-01-01,BEXAR,"1,618,284","279,100","7,195","20,533","42,575","11,405",931,"261,379","17,721",...,NaN,"1,428","41,147",NaN,"6,905","4,500",NaN,279,652,NaN
2009-01-01,BEXAR,"1,649,956","268,190","6,199","14,363","36,578","22,573",968,"240,840","27,350",...,NaN,"1,544","35,035",NaN,"18,257","4,316",NaN,290,678,NaN
2010-01-01,BEXAR,"1,714,773","252,345","5,739","15,007","28,829","12,108","1,862","231,103","21,242",...,NaN,"1,146","27,683",NaN,"8,711","3,397",NaN,559,"1,303",NaN
2011-01-01,BEXAR,"1,756,261","286,919","6,087","7,418","52,293","14,557","1,866","264,378","22,542",...,NaN,"1,148","51,145",NaN,"11,031","3,526",NaN,560,"1,306",NaN
2012-01-01,BEXAR,"1,784,731","264,438","5,993","8,753","39,858","14,472",740,"245,786","18,652",...,NaN,"1,050","38,809",NaN,"13,403","1,069",NaN,222,518,NaN
2013-01-01,BEXAR,"1,813,421","258,852","5,992","6,662","36,501","10,365",824,"245,623","13,230",...,NaN,"1,070","35,431",NaN,"9,564",801,NaN,247,577,NaN
2014-01-01,BEXAR,"1,846,354","258,119","5,247","5,491","37,084","8,068",714,"246,867","11,251",...,NaN,"1,092","35,992",NaN,"7,307",761,NaN,214,500,NaN
2015-01-01,BEXAR,"1,890,984","294,963","6,246","6,731","48,438","9,067",728,"249,390","10,465",...,0.0,806,"23,143","24,489","7,558","1,509",0,219,509,0.0
2016-01-01,BEXAR,"1,928,680","287,847","6,588","7,810","39,725","10,107",736,"251,181","8,608",...,0.0,844,"19,489","19,392","8,123","1,984",0,221,515,0.0
2017-01-01,BEXAR,"1,958,578","310,064","6,735","7,578","69,059","13,215",784,"257,112","8,095",...,0.0,917,"34,071","34,071","10,455","2,760",0,235,549,0.0
2018-01-01,BEXAR,"1,986,049","319,468","7,130","6,956","76,538","12,023",811,"263,575","8,290",...,0.0,940,"37,799","37,799","9,520","2,503",0,243,568,0.0
2019-01-01,BEXAR,"2,003,554","333,637","7,846","4,170","70,420","13,467",811,"270,248","8,111",...,0.0,852,"34,784","34,784","8,126","2,946","2,395",243,568,0.0

Dataframes are all cleaned, renamed, prepped and ready to go.

- Aquifer is the main dataframe I will be doing the Time Series Analysis on. It shows the Edwards Aquifer daiily high water level for index well J17 (in Bexar county) from Nov 12, 1932 to June 11, 2022
- Usage is water usage stats for Bexar county from 1984-2019; It has some null values that I will leave for now to see if it sheds light on any possible new trends since the nulls are all pre2015 when certain data wasn't collected.
- Pop is population stats for Bexar county from 1850-2022
- Temps is the average monthly temperature for Bexar county from Jan 1895 to May 2022
- Precip is the total monthly precipitation for Bexar county from Jan 1895 to May 2022

### Wrangle.py 

All previous work will be saved into a Wrangle.py file to speed up future acquisition/prep.